{% extends 'base.html' %}
{% load staticfiles %}

{% block extrastyles %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</div>
		{% endfor %}
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
			  <h1>Dashboard</h1>
			  <p>Vous pouvez gérer vos messages et vos amis depuis cet espace !</p>
			</div>
		</div>
	</div>

    {%  block dashboard_inner %}
    {% endblock dashboard_inner %}
</div>
{% endblock content %}
