{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item"><a href="#TODO" title="Voir les détails de {{ friend.user.username }}">{{ friend.user.username }}</a> <a href="{% url 'dashboard:remove' friend_pk=friend.pk %}" title="Supprimer {{ friend.user.username }} de mes amis"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="float: right;"></span></a></li>
                    {% endfor %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ friend_requests|length }}</span></button></div>
        </div>

        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for message in member_messages %}
                      
                      {% if message.is_read %}
                        <tr class="message-row danger" data-message-id="{{ message.id }}" data-message-read="{{ message.is_read }}">
                      {% else %}
                        <tr class="message-row success" data-message-id="{{ message.id }}" data-message-read="{{ message.is_read }}">
                      {% endif %}
                        <td>{{ message.author.user.username }}</td>
                        <td>{{ message.created_on | date:'d-m-Y'}}</td>
                        {% if message.is_read %}
                          <td>Lu</td>
                        {% else %}
                          <td>Non lu</td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>

                <nav class="pull-right">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un ami</h4>
      </div>
      <form method='POST' action =".">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">Pseudo</th>
            </tr>
          </thead>
          {% for friend in add_friend_form.members.field.choices %}
            <tr>
              <td class="success">{{ friend.1 }}</td>
              <td><input type="checkbox" name="{{ add_friend_form.members.html_name }}" id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" name="add_friend_request">Envoyer une demande d'ajout</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Demandes d'ajout en attente</h4>
            </div>
            <form method='POST' action =".">
            {% csrf_token %}
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Pseudo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pending_request in pending_request_form.members.field.choices %}
                            <tr>
                                <td class="success">{{ pending_request.1 }}</td>
                                <td><input type="checkbox" name="{{ pending_request_form.members.html_name }}" id="id_{{ pending_request_form.members.html_name }}_{{ forloop.counter }}" value="{{ pending_request.0 }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="refuse_pending_request">Refuser la/les demandes</button>
                    <button type="submit" class="btn btn-success" name="accept_pending_request">Accepter la/les demandes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="id_new_message_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nouveau message</h4>
            </div>
            <form method='POST' action =".">
            {% csrf_token %}
                <div class="modal-body">
                	{% for field in new_message_form %}
                	<p><label>{{field.label}}</label><br/>
                	{{field}}</p>
                	{%endfor%}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" name="accept_pending_request">Envoyer</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_show_message_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="">Message de <span></span></h4>
                <div class="count">
                </div>
            </div>
            <div class="modal-body">
              <figure></figure>
              <p></p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $('#id_show_message_modal').on('hidden.bs.modal', function () {
    $.ajax({
      url: '/dashboard/set_message_read/' + id
    })
    .done(function() {
      location.reload();
    });

  });

  $(function() {
    $('tr.message-row').each(function() {
      $(this).on('click', function () {

        id = $(this).data('message-id');
        let read = $(this).data('message-read');
        if (read == 'False') {
          $.ajax({
            url: '/dashboard/get_message/' + id
          })
          .done(function( data ) {
            $('#id_show_message_modal').modal('show');
            $('#id_show_message_modal .modal-title span').html(data.author_pseudonym);
            $('#id_show_message_modal .modal-body figure').html('<img src="'+data.image+'" />');
            $('#id_show_message_modal .modal-body p').html(data.content);
            $('#id_show_message_modal .modal-header .count').html(data.duration);

            count = data.duration;
            t = setInterval(function() {
              $('#id_show_message_modal .modal-header .count').html(count-1);
              count--;

              if (count < 1) {
                stop();
              }
            }, 1000);

            stop = function() {
              clearInterval(t);
              $('#id_show_message_modal').modal('hide');
            }
          });
        }
      })
    });
  });
</script>
{%  endblock dashboard_inner %}
