#id_messages_list_row{
    margin-top: 1.5em;
}

h4 {
	font-size: 45px;
}

h4 span {
	font-size: 30px;
}

#id_show_message_modal .modal-header .count {
	border: 3px solid black;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	position: absolute;
	right: 50px;
	top: 25px; 
}

#id_show_message_modal .modal-body figure img {
	width: 100%; 
}
